footer {
    height: 197px;
    align-self: stretch;
    margin-top: auto;
    background-image: url(../../public/images/pattern-hills.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .icon:hover, button:hover {
    cursor: pointer;
  }
  .icon path:hover, button:hover {
    fill: hsl(345, 95%, 68%);
  }
  footer button {
    background-color: hsl(236, 21%, 26%);
    color:hsl(345, 95%, 68%);
    padding: .3rem .6rem;
    border: 1px solid transparent;
    border-radius: 40px;
  }
  footer button:hover{
    border-color: hsl(345, 95%, 68%);
  }
  /*----------------HEADER---------------------*/
  header {
    color: white;
    letter-spacing: 3px;
    /* border: 3px solid blue; */
    text-align: center;
  }
  